.DevCards {
  border: 3px solid black;
  background-color: lightpink;
  text-align: center;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.Button {
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
